body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background-image: linear-gradient(89deg, #FA6775 0%, #9bc01c 100%);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
