body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background-image: linear-gradient(to right, #eb8cec, #f984a7, #df8e7d, #b89875, #999984);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
